napi.wsn.addr=http://np-facuat:18038;
napi.user.id=80137;
napi.password=67002d8269be993a74a; 
ensemble.connection.string=jdbc:oracle:thin:@cska:1521:RUS739;
ensemble.login=VMPAPP137;
ensemble.password=VMPAPP137;
comverse.sequrity.url=https://192.168.112.16:8443/SAMLSignOnWS?wsdl;
comverse.sequrity.user=sapiuser;
comverse.sequrity.realm=SAPI;
comverse.sequrity.password=sapipass1;
comverse.customercare.url=https://192.168.112.65:8001/services/CustomerCareService;
comverse.subscriber.url=https://192.168.112.65:8001/services/SubscriberService;
ussdb.connection.string=jdbc:oracle:thin:@(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=mn-bssscan)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=BSSDEV)));
ussdb.login=BSSDB1;
ussdb.password=BSSDB1;
ctn.range.start=9683510000;
ctn.range.end=9683519999;